<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="navbar">
    <style>
        .xyz:hover{
            background-color:yellow;
        }
    </style>
    <div class="w3-top" style="z-index:3">

        <div class="w3-bar w3-theme-l3 w3-top w3-left-align w3-large">
            <form form-method="post" th:action="@{/logout}">
                <button type="submit" class="w3-bar-item w3-right w3-large  w3-padding-medium" style="cursor: pointer; padding-right:10px; padding-left:0px; background-color: #becbd2;">
                    <i class="material-icons" aria-hidden="true" style="font-size:25px; padding-top: 5px;">power_settings_new</i>
                </button>
            </form>
            <a class="w3-bar-item w3-right w3-large w3-padding-medium" style="cursor: pointer; padding-left:0px; padding-right:0px;">
                <!--<span class="badge" style="position: absolute; border-radius:50%; font-size:11px; color: white; background-color: red; right:39px;" th:text="${rowcount}"></span>-->
                <i class="material-icons" aria-hidden="true" style="font-size:25px; padding-top:5px; padding-right:13px;">notifications_active</i>
            </a>
            <a class="w3-bar-item w3-right w3-large w3-padding-medium" href="/home"><i class="material-icons" id="admin_icon" aria-hidden="true" style="font-size:25px; padding-top: 5px;">home</i></a>
            <a class="w3-bar-item  w3-padding-large"><img alt="logo" src="/images/lmrc_logo.png" style="width: 52px;"><strong><i></i></strong></a>
            <div class="w3-bar-item" style="font-size: 25px; font-family: 'Dancing Script', cursive; margin-left: -30px;">Unif Support</div>
        </div>
    </div>
    <!-- Overlay effect when opening sidebar on small screens -->
    <div id="myOverlayNav" class="w3-overlay" onclick="nav_close()" style="cursor:pointer" title="close floating nevigation bar"></div>
</div>

</body>
</html>

